@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.145 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.145 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.985 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: oklch(0.269 0 0);
  --input: oklch(0.269 0 0);
  --ring: oklch(0.439 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.269 0 0);
  --sidebar-ring: oklch(0.439 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@theme {
  /* radius */
  --radius-xs: 10px;
  --radius-sm: 12px;
  --radius-md: 16px;
  --radius-lg: 20px;
  --radius-xl: 50px;

  /* color */
  --color-gray-1: oklch(5.3% 0.03 0);
  --color-gray-2: oklch(18% 0.05 0);
  --color-gray-3: oklch(30% 0.07 0);
  --color-gray-4: oklch(42% 0.1 0);
  --color-gray-5: oklch(54% 0.13 0);
  --color-gray-6: oklch(65% 0.16 0);
  --color-gray-7: oklch(66% 0.17 0);
  --color-gray-8: oklch(77% 0.21 0);
  --color-gray-9: oklch(90% 0.26 0);
  --color-gray-10: oklch(95% 0.28 0);
  --color-bg-1: oklch(100% 0.3 0);
  --color-bg-2: oklch(97% 0.23 210);
  --color-blue-1: oklch(98% 0.25 210);
  --color-blue-2: oklch(65% 0.34 210);
  --color-blue-3: oklch(50% 0.27 210);
  --color-orange-1: oklch(98% 0.23 45);
  --color-orange-2: oklch(70% 0.45 45);
  --color-orange-3: oklch(55% 0.53 45);
  --color-yellow-1: oklch(98% 0.23 60);
  --color-yellow-2: oklch(70% 0.45 60);
  --color-yellow-3: oklch(55% 0.53 60);
  --color-green-1: oklch(94% 0.2 120);
  --color-green-2: oklch(65% 0.34 120);
  --color-green-3: oklch(50% 0.27 120);
  --color-red-1: oklch(98% 0.23 0);
  --color-red-2: oklch(70% 0.45 0);
  --color-red-3: oklch(55% 0.53 0);
  --color-pink-1: oklch(98% 0.23 330);
  --color-pink-2: oklch(70% 0.45 330);
  --color-pink-3: oklch(55% 0.53 330);
  --color-purple-1: oklch(98% 0.25 270);
  --color-purple-2: oklch(65% 0.34 270);
  --color-purple-3: oklch(50% 0.27 270);
  --color-pm-1: oklch(50% 0.27 240);
  --color-pm-2: oklch(60% 0.3 240);
  --color-pm-3: oklch(90% 0.25 240);
  --color-vali-1: oklch(60% 0.5 0);

  /* box-shadow */
  --shadow-1: 0px 0px 5px rgba(191, 191, 191, 0.25);
  --shadow-2: 2px 3px 4px rgba(17, 17, 17, 0.25);
  --shadow-3: 2px 3px 4px rgba(102, 102, 102, 0.25);
  --shadow-4: 3px 3px 4px rgba(102, 102, 102, 0.25);
  --shadow-5: 0px 0px 4px rgba(118, 118, 118, 0.25);
  --shadow-6: 2px 3px 4px rgba(118, 118, 118, 0.25);
  --shadow-7: 0px -2px 7px rgba(118, 118, 118, 0.25);
}

/* typography */
@layer utilities {
  .h1 {
    @apply text-2xl font-bold leading-tight;
  }
  .h2 {
    @apply text-xl font-normal leading-tight;
  }
  .h3 {
    @apply text-lg font-bold leading-tight;
  }
  .h4 {
    @apply text-lg font-normal leading-tight;
  }
  .h5 {
    @apply text-lg font-medium leading-tight;
  }
  .s1 {
    @apply text-base font-normal leading-relaxed;
  }
  .s2 {
    @apply text-base font-normal leading-tight;
  }
  .s3 {
    @apply text-base font-medium leading-tight;
  }
  .s4 {
    @apply text-base font-medium leading-tight;
  }
  .b1 {
    @apply text-sm font-normal leading-tight;
  }
  .b2 {
    @apply text-sm font-medium leading-tight;
  }
  .b3 {
    @apply text-sm font-medium leading-tight;
  }
  .b4 {
    @apply text-sm font-normal leading-tight;
  }
  .b5 {
    @apply text-sm font-medium leading-tight;
  }
  .b6 {
    @apply text-sm font-bold leading-tight;
  }
  .b7 {
    @apply text-sm font-normal leading-relaxed;
  }
  .b8 {
    @apply text-sm font-medium leading-tight;
  }
  .b9 {
    @apply text-sm font-medium leading-relaxed;
  }
  .b10 {
    @apply text-sm font-normal leading-relaxed;
  }
  .c1 {
    @apply text-xs font-medium leading-tight;
  }
  .c2 {
    @apply text-xs font-normal leading-tight;
  }
  .c3 {
    @apply text-xs font-medium leading-tight;
  }
}
